:root {
    --primary-color: #C5D201;
    --secondary-color: #241c19;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    line-height: 1.5;
    background-color: rgb(253, 251, 252);
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

/* apply styles to header */
header {
    padding: 15px 6% 15px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 a {
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 5px 5px 5px 70px;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

header nav {
    float: right;
    margin-right: 10px;
    margin-left: -55px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    margin-left: 35px;
    
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 23px;
    text-decoration: underline;
    color: var(--primary-color);
    justify-content: space-between;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-decoration: none;
}
/* End styles to header */

/* Start portfolio subtitle styles */
.portfolio-info {
    background-image: url(../images/port-bg.jpg);
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    background-position: 80%;
    margin-bottom: 25px;
}

.portfolio-info h2 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px 10px;
    line-height: 1.2;
    display: inline;
}
/* End portfolio subtitle styles */

/* Start main section styles */
.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto; 
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary-color);
    font-size: 4vw;
    line-height: 1.1;
  }

  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }

  .page-section img {
      width: 300px;
      height: 300px;
  }
/* End main section styles */

/* Start work section styles */
.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    /* create a 12 column grid */
    grid-template-columns: repeat(12, 1fr);
    /* set each row to be atleast 150px tall and a max of 1fr */
    grid-auto-rows: minmax(150px, 1fr);
  }
  
  .grid-item {
    border: 5px solid var(--primary-color);
    grid-column: span 4;
    color: var(--secondary-color);
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    background-size: cover;
  }
  
  .grid-item:first-child {
      grid-column: span 8;
      grid-row: span 2;
  }

  .grid-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .grid-item div {
    background-color: var(--primary-color);
    padding: 8px 10px;
  }
  
  .grid-item h3 {
    font-size: 1.2rem;
  }

  .date-night {
    background-image: url("../images/project1.PNG");
    
  }

  .run-buddy {
    background-image: url("../images/run-buddy.png");
  }
  
  .weather-dashboard {
    background-image: url("../images/weather-dashboard.PNG");
  }
  
  .password-generator {
    background-image: url("../images/password.PNG");
  }
  
  .git-it-done {
    background-image: url("../images/git-it-done.PNG");
  }
  /* End work section styles */
  
  /* Start contact section styles */
  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    font-size: 1.3rem;
    font-style: normal;
    display: inline-block;
    color: var(--primary-color);
  }

  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px;
  }

  .contact address span {
      text-align: center;
      font-size: 1.2rem;
  }
  /* End contact section styles */

 /* apply styles to footer */
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: var(--secondary-color);
    }
    
    footer h2 {
        font-size: 20px;
    }
    /* End styles to footer */

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 1095px) {
       
        header {
            padding: 0 0 10px 0;
            justify-content: center;
            text-align: center;
            background-position: 70%;
          }
        
          header h1 a {
            width: 100%;
            padding: 5px;
            font-size: 7vh;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        
          header nav ul li a {
            justify-content: space-between;
          }
        
          .page-section > h2,
          .page-section > div {
            flex: 0 0 100%;
          }
        
          .page-section > h2 {
            border-right: none;
            border-bottom: 4px solid var(--primary-color);
            margin-bottom: 20px;
            padding-bottom: 10px;
            text-align: left;
            font-size: 7vh;
          }
        }

        @media screen and (max-width: 768px) {

            header {
                background-position: 50%;
            }

            header h1 a {
                font-size: 10vw;
            }

            .grid-item,
            .grid-item:first-child {
              grid-column: 1 / -1;
            }
          
            .grid-container {
              grid-auto-rows: minmax(200px, 1fr);
            }
          
            .portfolio-info {
              justify-content: center;
              text-align: center;
            }

            .portfolio-info h2 {
                font-size: 3vw;
            }
          
            .contact address {
              flex-direction: column;
              align-items: center;
            }
    } 
/* END STYLE MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */






