:root {
    --primary-color: #C5D201;
    --secondary-color: #241c19;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}

/* apply styles to header */
header {
    padding: 20px;
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/port-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

header nav {
    float: right;
    margin-right: 10px;
    font-size: 24px;
    padding-top: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin-left: 35px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    font-size: 16px;
}
/* End styles to header */

/* Start portfolio subtitle styles */
.portfolio-info {
    background-image: url(../images/port-bg.jpg);
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    position: relative;
    background-position: 80%;
    margin-bottom: 25px;
}

.portfolio-info p {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-color);
}

.portfolio-subtitle {
    position: absolute;
    bottom: 150px;
    right: 16px;
}
/* End portfolio subtitle styles */


main {
    width: 100%;
    display: inline-block;
    background-color: #f3e9e6;
    background-position: center;
    background-size: cover;
    background-position: 80%;
}

/* Start style about me section */
.about-me-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
} 

 .about-me-title h2 {
    font-size: 36px;
    padding-top: 20px;
    margin-left: 100px;
}

.about-me-title h2:hover {
    background-image: url(../images/davitshirkhanyan.jpg);
    width: 200%;
    height: 600px;
    padding: 10px;
    background-position: center;
    background-size: cover;
    font-size: 30px;
}

.about-me-title p {
    border-left: 5px solid var(--primary-color);
    margin: 40px;
    line-height: 1.3;
    padding-left: 30px;
    font-size: 18px;
} 
/* End style about me section */

/* Start style work info section */
.work-info {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  font-size: 20px;
  }

.img-title {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.work-title-img {
    transition: 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 5px solid var(--primary-color);
  }

  .work-title-img:hover {
      opacity: 0.7;
      width: 103%;
      height: 103%;
  }

  .img-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 4;

  }

  .img-2 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
  }

  .img-3 {
      grid-column: 5 / span 2;
      grid-row: 3 / span 2;
  }

  .img-4 {
      grid-column: 1 / span 2;
      grid-row: 5 / span 2;
  }

  .img-5 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }

  .img-subtitle {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: var(--secondary-color);
      font-size: 12px;
  }

  .work-title {
    position: relative;
    
  }

  .work-info {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  } 

  .work-info h2 {
    font-size: 36px;
    padding-top: 20px;
    margin-left: 70px;
  }
  /* End style work info section */

/* Start style contact me section */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
  font-size: 20px;
  } 

  .contact-info {
    padding: 30px 30px;
  }

  .contact h2 {
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 100px;
    }

    .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-style: normal;
    }

    .contact a {
        text-decoration: underline;
    }
    /* End style contact me section */

    /* apply styles to footer */
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: var(--secondary-color);
    }
    
    footer h2 {
        font-size: 20px;
    }
    /* end styles to footer */

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 980px) {
        header {
            padding-bottom: 0;
            justify-content: center;
            position: relative;
        }
   
        header h1 {
            width: 100%;
            text-align: center;
        }
   
        header nav ul {
            margin-top: 20px;
            width: 100%;
            justify-content: center;
        }
   
        header nav ul li a {
            font-size: 20px;
        }
   
        footer h2 {
            text-align: center;
            width: 100%;
        }

        .contact {
            justify-content: center;
            text-align: center;
            display: block;
            font-size: 20px;
            line-height: 2;
        }

        .contact h2 {
            margin-left: 0;
        }

        .about-me-title h2:hover {
            height: 300px;
            font-size: 25px;
        }

        .img-title {
            padding: 10px;
        }
    }

        @media screen and (max-width: 768px) {
            .contact {
                font-size: 15px;
            }

            .img-subtitle h3,
            .img-subtitle p {
                font-size: 10px;
            }

            .about-me-title p {
                font-size: 12px;
            }

            .about-me-title h2:hover {
                text-align: center;
                width: 300%;
            }

            .img-title {
                padding: 10px;
            }
    } 

    @media screen and (max-width: 575px) {

        .about-me-title {
            display: inline;

        }

        .about-me-title  h2{
            text-align: center;
            margin: 0%;
        }

        .about-me-title p,
        .contact address,
        .contact a {
            font-size: 12px;
            border: none;
        }
        .img-subtitle h3,
        .img-subtitle p {
            font-size: 5px;
        }

        .about-me-title h2:hover {
            width: 80%;
            margin: 0 auto;
            text-align: left;
        }

        header nav ul li {
            line-height: 1.5;
        }

        .about-me-title h2,
        .work-info h2,
        .contact h2 {
            font-size: 20px;
        }

        .img-title {
            padding: 10px;
        }
    }







